<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <strong>@Html.ActionLink("Facebook Clone", "Index", "Home", null, new { @class = "navbar-brand" })</strong>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto"></ul>
                @Html.Partial("_LoginPartial", new FacebookClone.Models.Account.LoginViewModel())
            </div>
        </div>
    </nav>
</header>
